<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="WebToImage">

        <!-- Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Share target: appears in Browser -> Share (اشتراک گذاری / هم‌رسانی) -->
        <activity
            android:name=".ui.ShareEntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Print destination that appears in Chrome -> Print -->
        <service
            android:name=".print.WebToImagePrintService"
            android:exported="true"
            android:permission="android.permission.BIND_PRINT_SERVICE">
            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>

            <meta-data
                android:name="android.printservice"
                android:resource="@xml/printservice" />
        </service>

        <activity
            android:name=".ui.JobActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CropActivity"
            android:exported="false" />

    </application>

</manifest>
