<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="WebToImage"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Share target -->
        <!-- Share target -->
<activity
    android:name=".ui.ShareToImageActivity"
    android:exported="true">

    <!-- Share text -->
    <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/*" />
    </intent-filter>

    <!-- Open URL (Chrome may send ACTION_VIEW) -->
    <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
        <data android:scheme="https" />
    </intent-filter>

</activity>

        <!-- Print service -->
        <service
            android:name=".print.WebToImagePrintService"
            android:exported="true"
            android:permission="android.permission.BIND_PRINT_SERVICE">
            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>

            <meta-data
                android:name="android.printservice"
                android:resource="@xml/printservice" />
        </service>

        <activity
            android:name=".ui.LogActivity"
            android:exported="false" />

        <activity
            android:name=".ui.JobActivity"
            android:exported="false" />

        <activity
            android:name=".ui.CropActivity"
            android:exported="false" />

    </application>

</manifest>
